name: Skir Python Example CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: npx skir format --ci
      - run: npx skir gen
      - run: npm run snippets
      - uses: jakebailey/pyright-action@v2
        with:
          pylance-version: latest-release
